.container {
    background-color: whitesmoke;
    margin-top: 30px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 20px;
    min-width: "-webkit-fill-available";
    margin-left: 8%;
    margin-right: 8%;
}

.header-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: sans-serif;
}

.experience-button {
    padding: 15px;
    width: fit-content;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.2s;
}

/* ✅ Add a hover effect */
.experience-button:hover {
    padding: 17px;
    font-weight: 400;
    border-bottom: 1px solid gray;
    color: #007bff;
}

/* ✅ Active Button (when clicked) */
.experience-button.active-button {
    padding: 17px;
    width: fit-content;
    border-bottom: 3px solid gray;
    color: #007bff;
    font-weight: bold;
}

.experience-content {
    padding: 15px;
    background-color: whitesmoke;
    margin-top: 30px;
    height: auto;
    border-radius: 20px;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
}

.position-tech-company {
    display: inline;
}

.position {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}

.link-company { 
    color: teal;
    text-decoration: underline;
}

.link-company:hover {
    color:blue;
    text-overflow: ellipsis;
}

.tech {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}

.company {
    font-family: 'Alata', sans-serif;
    display: inline-block;
    font-size: 20px;
}

.date {
    color: #787c82;
    font-size: 14px;
    font-weight: 400;
}

.info-icon {
    height: 10px;
    width: 10px;
    margin-left: 5px;
}

.tech-stack-head {
    margin-top: 7px;
    margin-bottom: 7px;
    color: blue;
    font-family: 'Alata';
    font-size: 17px;
}

.tech-stack-display {
    display: flex;
}

.each-tech {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 6px;
    border: 1px solid black;
    background-color: white;
    color: green;
    border-radius: 15px;
}

/* ✅ Location Section */
.location {
    color : #474c53;
    font-family: 'Alata', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
}

.loc-icon {
    height: 20px;
    width: 20px;
    margin-right: 4px;
    background: #aea6a6;
    padding: 2px;
    border-radius: 5px;
}

.bullet-points {
    margin-left: 25px;
    margin-top: 20px;
}

.point-to-point {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 10px;
}
.bullet {
    height: 15px;
    width: 15px;
    color: var(--primary-color);
}

.point {
    margin-left: 10px;
    color : #474c53;
    font-family: 'Alata', sans-serif;
}