@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(174deg 6.6% 60.54%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

.location-phone-email {
    background-color: whitesmoke;
    padding: 25px;  
    width: 84%;
    margin-left: 8%;
    margin-top: 30px;
    margin-right: 8%;
    border-radius: 12.5px;
}

.image-profile {
    margin-left: 20px;
    margin-right: 100px;
}

.icons-and-names {
    width: 100%;
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: space-around;
}

.avatar {
    height: 20px;
    width: 20px;
}

.introduction {
    background-color: whitesmoke;
    padding: 25px;  
    width: 84%;
    margin-left: 8%;
    margin-top: 5px;
    margin-right: 8%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    justify-content: space-evenly;
}

.intro-name {
    left:auto;
}

@media screen and (max-width : 520px) {
    .phone-margin-520px {
        margin-top : 20px;
    }
    .location-margin-520px {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .intro-name {
      width: 60%;
    }
    .intro-div-photo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .start-date {
        width: 50%;
    }
    .horizontal-line-two {
        display: none;
    }
    .input-fields {
        width: 40%;
    }
    .open-to-start {
        width: 90%;
    }
  }

.span-val{
    color: black;
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    font-weight: "bold";
}

h1 {
    color: #3b638e;
    font-family: 'Alata', sans-serif;
    font-size: 350%;
    font-weight: bold;
}

.p-width {
    width: fit-content;
    margin-top: 15px;
    color: darkgray;
    font-family: 'Alata', sans-serif;
    font-weight: 200;
}

.image {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-size {
    background-color: green;
}

.profile {
    height: 250px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.profile:hover {
    border: 1px solid rgb(239, 235, 235);
    height: 260px;
    width: 260px;
    filter: drop-shadow(10px 10px 50px rgb(0, 0, 0));
}

.resume-icons {
    display: block;
}

.resume-icon-width {
    width: 100%;
}

@media screen and (min-width: 620px) {
    /* .resume-icons {
        display: block;
    } */
    .resume-icons {
        margin-top: 20px;
        width: 100%;
        justify-content: space-evenly;
        display: inline-flex;
        align-items: center;
    }
    .icons {
        display: inline;
        justify-content: space-evenly;
    }
  }

  @media screen and (max-width: 620px) {
    /* .resume-icons {
        display: block;
    } */
    .button-resume {
        margin-top: 20px;
    }
    .icons {
        display: inline;
        margin-top: 20px;
        justify-content: space-between;
    }
    .image {
        margin-top: 20px;
    }
  }

  @media screen and (max-width: 1024px) {
    .image {
        margin-top: 35px;
        width: 100%;
    }
    .profile {
        height: 250px;
        width: 100%;
        border: 1px solid gray;
        border-radius: 20px;
        object-fit: cover;
        object-position: top;
    }
    .profile:hover {
        height: 250px;
        width: 100%;
        border: 1px solid gray;
        border-radius: 20px;
        object-fit: cover;
        object-position: top;
        border: 1px solid rgb(239, 235, 235);
        filter: drop-shadow(10px 10px 50px rgb(0, 0, 0));
    }
    .open-to-start {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
    }
    .start-date {
        width: 100%;
    }
    .verticale-line {
        display: none;
    }
    .input-fields {
        width: 70%;
    }
  }

.button-resume {
    border: 4px solid white;
    background-color: #3b638e;
    color: whitesmoke;
    padding: 15px;
    font-family: sans-serif, Arial;
    font-size: 20px;
    border-radius: 30px;
    font-weight: bold;
    width: 100%;
}

.button-resume:hover {
    border: 4px solid black;
    background-color: whitesmoke;
    color: black;
    padding: 15px;
    font-family: sans-serif, Arial;
    font-size: 20px;
    border-radius: 30px;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
}

.icons {
    width: 100%;
    display: inline-flex;
}

.icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 6.5px;
    border: 1px solid black;
}

.icon:hover {
    border-radius: 50%;
    padding: 8px;
    border: 1px solid black;
    background-color: hsl(240deg 1.1% 82.16%);
}

.horizontal-line {
    margin-top: 25px;
    background: black;
    color: black;
    border-color: black;
    height: 1px;
    width: 100%;
    margin-bottom: 25px;
}

.open-to-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start-date-h3 {
    font-size: 35px;
    font-weight: 300;
    font-family: 'Alata', sans-serif;
}

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bullet-points {
    margin-left: 25px;
    margin-top: 20px;
}

.point-to-point {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 10px;
}
.bullet {
    height: 15px;
    width: 15px;
    color: var(--primary-color);
}

.point {
    margin-left: 10px;
    color : #474c53;
    font-family: 'Alata', sans-serif;
}

.verticale-line {
    background: black;
    color: black;
    border-color: black;
    height: 100%;
    width: 0.3px;
    
}

.horizontal-line-two {
    margin-top: 25px;
    background: black;
    color: black;
    border-color: black;
    height: 1px;
    width: 100%;
    margin-bottom: 25px;
}

/* .input-division {
    margin-top: 20px;
} */

.label-name {
    width: 100%;
    color: black;
    font-family: monospace;
    font-weight: bold;
}

.label-email {
    width: 100%;
    color: black;
    font-family: monospace;
    font-weight: bold;
}

.label-essay {
    width: 100%;
    color: black;
    font-family: monospace;
    font-weight: bold;
} 

.input-name {
    padding: 3px;
    border: 1px solid black;
    background: none;
    border-radius: 2px;
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid black;
}

.input-name:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    display: block;
}

.input-email {
    padding: 3px;
    background: none;
    border: 1px solid black;
    border-radius: 2px;
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid black;
}

.input-email:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

.input-essay {
    padding: 3px;
    background: none;
    border: 1px solid black;
    border-radius: 2px;
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid black;
}

.input-essay:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

.submit-button {
    margin-top: 15px;
    background-color: #3b638e;
    width: 40%;
    height: 35px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 17.5px;
    font-weight: 700;
}

.submit-button:hover {
    border: 2px solid black;
    background-color: white;
    color: #3b638e;
    font-family: sans-serif;
    font-weight: 700;
}



